
body {

}

/* .bg {
  width: 100px;
  height: 100%;
} */




.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* z-index: 1030; */
  border-style: solid;
  /* border-bottom: 5px; */
  border-top: 1px;
  border-right: 1000px;
  border-left: 1px;
  border-color: gray;

}

/* test */

.containerSection {
  border-bottom: 3px solid #ccc;
  margin-top: 50px;
}

/* .junior{

} */

#programImg{
  mix-blend-mode: multiply;
}

.Junior-logo{
    /* mix-blend-mode: exclusion; */
    /* mix-blend-mode: darken; */
    mix-blend-mode: multiply;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
}

/* for bulletpoints and texts inside the programs section */
ul {
  text-align: center;
  list-style-position: inside;
}

p{
  font-family: Futura PT;
  color: #062639;
}

h1{
  font-family: Futura PT;
  color: #062639;
}